*.uvoptx
JlinkLog.txt
*.ini
*.lst
*.d
*.o
*.crf
*.dep
*.Bak
*.map
*.lnp
*.htm
*.axf
*.iex
*.uvguix.*
*.dbgconf
project/MDK-ARM/EventRecorderStub.scvd
project/MDK-ARM/RTE/Device/**/*.dbgconf.base@*
/.vscode
*.hex
!boot.hex
/Agents
/sync_vscode.sh
